@model HomeUIOfferViewModels

<div class="col-md-3 col-sm-6">
    <div class="offer_area wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1000ms">
        <div class="circle_area"><i class="@Model.Icons"></i></div>
        <a href="@Model.LinkedUrl"><h5 class="offer-title">@Model.Title</h5></a>
        <p>@Model.Content</p>
        <a href="@Model.LinkedUrl" class="btn-link">Đọc Thêm</a>
    </div>
</div>