@model ProfileViewModels
@{ 
    string avatar = Model.Avatar.FirstOrDefault().ImagePath;
}
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action(string.Empty, "ManageProperties")">
                <b>
                    <img src="@Url.AppCustoms("images/logo-icon.png")" alt="homepage" class="dark-logo" />
                    <img src="@Url.AppCustoms("images/logo-light-icon.png")" alt="homepage" class="light-logo" />
                </b>
                <span>
                    <img src="@Url.AppCustoms("images/logo-text.png")" alt="homepage" class="dark-logo" />
                    <!-- Light Logo text -->
                    <img src="@Url.AppCustoms("images/logo-light-text.png")" class="light-logo" alt="homepage" />
                </span>
            </a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto mt-md-0">
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
            </ul>
            <ul class="navbar-nav my-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="@avatar" alt="user" class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right scale-up">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img src="@avatar" alt="user"></div>
                                    <div class="u-text">
                                        <h4>@User.Identity.Name</h4>
                                        <p class="text-muted">Administrator</p><a href="@Url.Action("UserProfile", "ManageAccount")" class="btn btn-rounded btn-danger btn-sm">Thông Tin Cá Nhân</a>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Logout", "ManageAccount")"><i class="fa fa-power-off"></i> Đăng Xuất</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>